*{
  margin: 0px;
  padding: 0px;
}
body {
  background-color: aqua;
 
  background-repeat: no-repeat;
  background-position: center;
  background-size:40rem;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
